/.localHistory
**/.localHistory
*.sfuo
TestCache.xml
TestsResultsCache.xml
**/.cache
**.
debug.log
resource*
*.sfsln
*.sfproj
settings.sfprojsettings
*.rmprops
*.credprops
package.xml.bac
Logs/**
*.bak